# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df.date = pd.to_datetime(df.date)

In [4]:
# Set the date column as the DataFrame index
df.set_index('date', inplace = True)

In [5]:
# Drop the date column
#?????? not sure what to do here, we need the index for work later
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
june = df[df.index.month == 6]
dec = df[df.index.month == 12]

In [8]:
# Identify the average temperature for June
june.tobs.mean()

74.94411764705882

In [9]:
# Identify the average temperature for December
dec.tobs.mean()

71.04152933421226

In [10]:
# Create collections of temperature data
june_temp = june.tobs.sample(200)
dec_temp = dec.tobs.sample(200)

In [11]:
# Run paired t-test
stats.ttest_rel(june_temp, dec_temp)

Ttest_relResult(statistic=10.905191049232819, pvalue=5.20922300981408e-22)

### Analysis

We use a paired t-test because the temperatures in the two months are not independent of each other. 

With a pvalue < 0.05, we reject the null hypothesis that there is no difference in temperatures between the months of June and Decemember in Hawaii.